# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/


# Test images only
zidane.jpg


# Environment
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db
kubectl
minikube-linux-amd64
*.Zone.Identifier
*.Zone.Identifier
results_backup/
*_output.txt
*_output2.txt
*.Zone.Identifier
results_backup/
*_output.txt
*_output2.txt
